:root {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif;
  line-height: 1.5;
  color: #222;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
